* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: white;
    background-image: linear-gradient(to right, #800080, #000);
    display: flex;
    min-height: 100vh;
}

.home-icon {
    position: absolute;
    top: 0; 
    left: 5px;
    
}

.home-icon img {
    width: 30px;
    height: auto;
    cursor: pointer;
    background-color:#6d6a6a
}

.sidebar {
    width: 200px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    text-align: center;
}

.sidebar ul li a img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.sidebar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.pai {
    width: 400px; /* Largura fixa para a div */
    padding: 20px;
    background-color: #000; /* Cor de fundo da div */
    border-radius: 20px;
    display: flex; /* Torna a div um contêiner flexível */
    flex-direction: column; /* Alinha os itens em coluna */
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center; /* Centraliza os itens verticalmente */
    text-align: center; /* Centraliza o texto dentro da div */
    position: relative; /* Para posicionar elementos internos se necessário */
    right: 0; /* Posiciona a div no lado direito */
    margin-right: 50px;
}
.content{
    right:100px
    ;
}
h2 {
    margin-bottom: 15px;
}

.switch {
    display: block;
    margin: 10px 0;
    font-size: 16px;
    color: white;
}

.switch input {
    display: none;
}

.switch .slider {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    background-color: #ff0000;
    border-radius: 15px;
    margin-left: 10px;
    cursor: pointer;
}

.switch .slider:before {
    content: '';
    position: absolute;
    width: 21px;
    height: 21px;
    background-color: white;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: 0.3s;
}

input:checked + .slider {
    background-color: #66bb6a;
}

input:checked + .slider:before {
    transform: translateX(25px);
}

.volume {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.volume span {
    font-size: 18px;
    margin-right: 10px;
}

.volume button {
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    margin-right: 10px;
    cursor: pointer;
}
